*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: aqua;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}
#parent2{
  height: 300px;
  width: 300px;
  background-color: aqua;
}
#parent2 h1{
  color: rgb(65, 65, 1);
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}