*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(224, 230, 230);
}

html,
body {
  height: 100%;
  width: 100%;
  
  
}

body {
  background-color: black;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  width: 300px;
  border : 2px solid #887d87;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333
  
  
  
}
.card p{
  margin : 20px 0;
}
.card button{
  padding: 10px 20px;
  background-color: #d2d7d8;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.card img{
  height: 140px;
  width: 70%;
  object-fit: cover;    
  border-radius: 50%;

  border : none;
}